@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik Scribble', sans-serif;
}

:root {
    --color-azulcalro: #04C4D9;
    --color-azulfuerte: #0D7F8C;
    --color-verde: #B6F25C;
    --color-naranja: #F27405;
    --color-rojo: #D91A1A;
    --color-blanco: #fff;
    --color-negro: #000;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/